@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
.site {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: #ecf2f8;
}

.card {
  min-width: 300px;
  padding: 2.3em;
  border-radius: 10px;
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5em auto;
      grid-template-columns: 5em auto;
      grid-template-areas: "image title" "para para" "quote quote";
}

.card__img {
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.card__img--light {
  border: 3px solid #a87df1;
}

.card__title {
  font-size: 1rem;
  font-weight: 600;
}

.card__title__container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  padding-right: 0.5em;
}

.card__subtitle {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.5;
  margin-top: -8px;
}

.card__para {
  font-size: 1.5rem;
  font-weight: 600;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: para;
}

.card__quote {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: quote;
}

.card:first-of-type {
  background-color: #7541c8;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 36%;
  color: white;
}

.card:nth-of-type(2) {
  background-color: #48556a;
  color: white;
}

.card:nth-of-type(3), .card:nth-of-type(5) {
  background-color: white;
  color: #48556a;
}

.card:nth-of-type(4) {
  background-color: #19212e;
  color: white;
}

@media screen and (min-width: 768px) {
  .card {
    margin: 0;
    padding: 1em;
  }
  .site {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    max-width: 700px;
    grid-gap: 10px;
    margin: 1em auto;
  }
  .card:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .card:nth-of-type(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .card:nth-of-type(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .card:nth-of-type(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .card:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media screen and (min-width: 1200px) {
  .site {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    margin: 1em;
    max-width: 100%;
  }
  .card:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card:nth-of-type(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card:nth-of-type(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card:nth-of-type(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card:nth-of-type(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.attribution {
  font-size: 15px;
  margin: 0 auto;
  grid-column: span 4;
}

.attribution a {
  color: hotpink;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */